<%-include('header.ejs')%>

  <ul>
    <li>이름 : 제임스</li>
    <li>메일 : james@gmail.com</li>
    <li>주소 : 경남 창원에 살고 싶어요~~</li>
  </ul>
  <img src="/img/g.jpeg" alt="이미지" style="max-width: 1000px";>
 
<%-include('footer.ejs')%>